/* Import de Bootstrap personnalisé */
@import './custom-bootstrap.scss';

/* Styles spécifiques à l'éditeur */
.editor-container {
  min-height: 100vh;
  background-color: var(--color-background);
}

.editor-sidebar {
  width: 20rem;
  background-color: var(--color-background);
  border-right: 1px solid var(--color-border);
}

.editor-main {
  flex: 1 1 0%;
  overflow: auto;
}
